@font-face {
    font-family: NavFont;
    src: url(../../../public/AvenirLTPro-Roman.ttf);
}

.Nav {
    background: rgb(255, 255, 255);
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
    border-bottom: 1px #000000;
    overflow: hidden;
    border-bottom: 1px solid rgb(211, 211, 211);
    margin-bottom: 1.5rem;
}

.NavLink {
    color: #000000;
    font-family: 'NavFont';
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.NavLink:active {
    color: #558fca;
}

@media screen and (max-width: 1000px) {
    .Image {

        width: 70px;
        height: 40px;
    }
}

.Bars {
    display: none;
    color: #fff;

    @media screen and (max-width: 768px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}

.NavMenu {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-right: -24px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}


.NavButton {
    display: flex;
    align-items: center;
    margin-right: 24px;

    @media screen and (max-width: 768px) {
        display: none;
    }

}


.NavButtonLink {
    border-radius: 4px;
    background: #16193a;
    font-family: 'NavFont';
    padding: 10px 22px;
    color: #2fedd4;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}


.NavButtonLink:hover {
    transition: all 0.3s ease-in-out;
    background: rgb(182, 182, 182);
    color: #010606;
}